.footer-toolbar {
    height: 7vh;
    background-color: rgb(30, 30, 60);
    color: white;
    position: fixed;
    bottom: 0;
}

mat-toolbar-row {
    justify-content: center;
}

.contact-icons {
    width: 25px;
    height: 25px;
    padding: 3px;
}