<mat-card>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="container">
            <mat-card-title>Sign Up</mat-card-title>
            <mat-form-field>
                <input matInput placeholder="Username" formControlName="username">
                <mat-hint *ngIf="registerForm.get('username').errors">Username is required</mat-hint>
            </mat-form-field>
    
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email">
                <mat-hint *ngIf="registerForm.get('email').errors">Email is required</mat-hint>
            </mat-form-field>
    
            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password">
                <mat-hint *ngIf="registerForm.get('password').errors">Password is required</mat-hint>
            </mat-form-field>
    
            <mat-form-field>
                <input matInput type="password" placeholder="Password COnfirmation" formControlName="confirmPassword">
                <mat-hint *ngIf="registerForm.hasError('passwordsNotMatching')">Passwords not matching</mat-hint>
            </mat-form-field>
    
            <button mat-flat-button color="primary" [disabled]="registerForm.valid" type="submit">Register</button>
        </div>
    </form>
</mat-card>

<h3 *ngIf="registerForm.invalid">Form contains following errors</h3>
<small *ngIf="registerForm.get('password').hasError('passwordInvalid')">Password is not containing a number</small>
<br>
<small *ngIf="registerForm.hasError('passwordsNotMatching')">Passwords not matching</small>