<mat-card>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="container">
            <mat-card-header>
                <mat-card-title>Login</mat-card-title>
            </mat-card-header>

            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email">
                <mat-hint *ngIf="loginForm?.get('email')?.errors?.required && loginForm?.get('email')?.touched">E-mail é obrigatório</mat-hint>
                <mat-hint *ngIf="loginForm?.get('email')?.errors?.email && loginForm?.get('email')?.touched">E-mail Inválido</mat-hint>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password">
                <mat-hint *ngIf="loginForm?.get('password')?.errors?.required && loginForm?.get('password')?.touched">Senha obrigatória</mat-hint>
            </mat-form-field>
            <button mat-flat-button color="primary" type="submit">Login</button>
           
           
        </div>
    </form>
</mat-card>
