<mat-card>
    <form  [formGroup]="createeventForm" (ngSubmit)="onSubmit()" >
        <div class="container">
            <mat-card-header>
                <mat-card-title>Create Event</mat-card-title>
            </mat-card-header>

            <mat-form-field>
                <input matInput placeholder="title" formControlName="title">
               
            </mat-form-field>
    
            <mat-form-field>
                <input matInput placeholder="sport_id" formControlName="sport_id">
               
            </mat-form-field>
    
            <mat-form-field>
                <input matInput placeholder="location" formControlName="location">
                
            </mat-form-field>
    
            <mat-form-field>
                <input matInput  placeholder="date" formControlName="date">
                
            </mat-form-field>

            <mat-form-field>
                <input matInput  placeholder="minimum of participants" formControlName="min">
            </mat-form-field>

            <mat-form-field>
                <input matInput  placeholder="maximum of participants" formControlName="max">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="currently_enrolled" formControlName="currently_enrolled">       
            </mat-form-field>

            <button mat-flat-button color="primary"  type="submit">Create</button>

          
        </div>
    </form>
</mat-card>
