.container {
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/soccer.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    background-size: cover;
}