<h2 >Próximos Eventos</h2>
<div class="rdf">
  <a href="http://localhost:3000/rdf/events" target="blank" >RDF</a>
</div>
<div class="container" >
  <div *ngIf="events.length > 0">
        <div class="row" *ngFor="let event of events">

            <div class="card" (change)="verifySubscrible(event.id)">

               <h4>{{event.title}} - Modalidade: {{event.sport.name}}</h4>
               <p> Local: {{event.location}}</p>
               <p> Máximo de participantes: {{event.maximumNumberOfParticipants}}
                    | Mínimo de participantes: {{event.minimumNumberOfParticipants}}</p>
               <p> Participantes inscritos:{{event.currentlyEnrolled}}</p>
               <p> {{event.dateOfTheEvent | date: "dd/MM/yyyy" }}</p>
               <button *ngIf="!this.admin" [disabled]="verifySubscrible(event.id)" mat-flat-button color="primary" type="button" (click)="subscrible(event)">Participar</button>
               <button *ngIf="!this.admin" [disabled]="!verifySubscrible(event.id)" mat-flat-button color="warn" type="button" (click)="unsubscrible(event)">Cancelar inscrição</button>
               <button *ngIf="this.admin" mat-flat-button color="warn" type="button" (click)="deleteEvent(event)">Excluir Evento</button>
             </div>
        </div>
  </div>
  <div *ngIf="events.length == 0">
    Nenhum próximo evento cadastrado até o momento.
  </div>
</div>

