<footer>
    <mat-toolbar class="footer-toolbar">

        <mat-toolbar-row>
            <a href="https://www.instagram.com/ufesports"><img class="contact-icons" src="../../../../assets/images/instagram.svg" alt="Instagram"></a>
            <a href="https://www.linkedin.com/in/ufesports"><img class="contact-icons" src="../../../../assets/images/linkedin.svg" alt="Linkedin"></a>
            <a href="mailto:contato@ufesports.com"><img class="contact-icons" src="../../../../assets/images/email.svg" alt="E-mail"></a> 
        </mat-toolbar-row>

        <mat-toolbar-row>
            <p class="footer-copyright">
                &copy; 2021 Copyright : UFESports Development Team
            </p>
        </mat-toolbar-row>

    </mat-toolbar>
</footer>