.header-toolbar {
    background-color: rgb(30, 30, 60);
    color: white;
}

.brand {
    color: white;
    font-size: 30px;
}

a {
    color: white;
    margin: 10px;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-icon {
    background-color: rgb(30, 30, 60);
    color: white;
    border: none;
}