<header>
    <mat-toolbar class="header-toolbar">
        <span class="brand">UFESports</span>
        <span class="example-spacer"></span>
        <a routerLink="/login" routerLinkActive="active" >Login</a>
        <a routerLink="/signup" routerLinkActive="active" >Cadastre-se</a>
        <a routerLink="/events" routerLinkActive="active" >Eventos</a>
        <button (click)="thankYou()" mat-icon-button class="example-icon" aria-label="like">
          <mat-icon>favorite</mat-icon>
        </button>
    </mat-toolbar>
</header>
